* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  min-height: 250px;
  padding: 5px;
}

.bg {
  background-color: black;
  height: 600px;
  padding-top: 120px;
}

.languages {
  display: flex;
  gap: 10px;
  padding: 35px 20px 25px 20px;
}

.paragraph {
  padding-left: 20px;
}