* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}

.bg {
  background-color: black;
  height: 600px;
  padding-top: 120px;
}

.languages {
  display: flex;
}